<head>
<title>OceansideCafe</title>
<style>
a:link {
	text-decoration: underline;
    color: black;
}
a:visited {
	text-decoration: underline;
  color: red;
}
a:hover {
  text-decoration: none; 
  color: black;
  font-weight: bold
}
 a:active {
	 text-decoration: none;
	 color: black;
	 font-weight: bold
 }

</style>
</head>

<footer>
<hr />
<p><center>2229 Walnut Street, Corpus Christi, Texas, 75080</center></p>
<p><center>469-876-0998</center></p>
</footer>
</html>